<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1> <a href="booked.php">Home Page</a></h1>
<center>

	<h2>Select The Class Timing For Your Make-UP Class:</h2>
	<form method="post" action="..\controllers\t1_av.php">

		<table border="1">


		<tr><td>	 <input type="radio" name="T_t" value="8:00 AM" >08.00 am to 09.30 am </td></tr>
        <tr><td>      <input type="radio" name="T_t" value="9:30 AM"> 09.30 am to 11.00 pm </td></tr>
        <tr><td>     <input type="radio" name="T_t" value="11:00 AM"> 11.00 am to 12.30 pm</td></tr>

        <tr><td>     <input type="radio" name="T_t" value="12:30 PM" >12.30 pm to 02.00 pm </td></tr>
        <tr><td>      <input type="radio" name="T_t" value="2:00 PM"> 02.00 pm to 03.30 pm </td></tr>


        <tr><td>        <input type="radio" name="T_t" value="3:30 PM"> 03.30 pm to 05.00 pm </td></tr>



<br>


			<tr>

					<td><center><input type="submit" name="btnSubmit" value="Step 3" /></center></td>
			</tr>

	</form>
</center>




</body>
</html>
