
<li class="nav-item active">
 <a class="nav-link" href="../../view/admin/admin.html">
   <img src="../../images/icons/1.png" alt="">
   <span class="menu-title">Create New Faculty</span>
 </a>
</li>

<li class="nav-item active">
 <a class="nav-link" href="../../view/courseconfirm/confirm.php">
   <img src="../../images/icons/1.png" alt="">
   <span class="menu-title">Verify Faculty Course</span>
 </a>
</li>
<li class="nav-item active">
 <a class="nav-link" href="../../view/slab/slab.php">
   <img src="../../images/icons/1.png" alt="">
   <span class="menu-title">Show Lab Bookings</span>
 </a>
</li>
<li class="nav-item">
 <a class="nav-link" href="../../view/sthery/theory.php">
   <img src="../../images/icons/2.png" alt="">
   <span class="menu-title">Show Theory Bookings</span>
 </a>
</li>
<li class="nav-item">
 <a class="nav-link" href="../../view/newsemester/nw.php">
   <img src="../../images/icons/005-forms.png" alt="">
   <span class="menu-title">Add New Semester</span>
 </a>
</li>
<li class="nav-item">
 <a class="nav-link" href="../../view/csv/csvfile.php">
   <img src="../../images/icons/4.png" alt="">
   <span class="menu-title">Load Rutine</span>
 </a>
</li>
<li class="nav-item">
 <a class="nav-link" href="../../view/makelab/make.php">
   <img src="../../images/icons/5.png" alt="">
   <span class="menu-title">AIUB Makup SChedule</span>
 </a>
</li>
<li class="nav-item">
 <a class="nav-link" href="../../view/notice/nt.php">
   <img src="../../images/icons/6.png" alt="">
   <span class="menu-title">Send Notice</span>
 </a>
</li>

<li class="nav-item">
 <a class="nav-link" href="../../controllers/login.php">
   <img src="../../images/icons/10.png" alt="">
   <span class="menu-title">Log-out</span>
 </a>
</li>
