<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> <a href="booked.php">Home Page</a></h1>
	<center>

		<h2>Select The Class Timing For Your Make-UP Class:</h2>
	<form method="post" action="..\controllers\t2_av.php">

		<table border="1">


			            <tr><td>    <input type="radio" name="T_t" value="8:00 AM" >08.00 am to 10.00 am </td></tr>
                <tr><td>      <input type="radio" name="T_t" value="10:00 AM"> 10.00 am to 12.00 pm</td></tr>
                  <tr><td>    <input type="radio" name="T_t" value="12:00 PM"> 12.00 pm to 2.00 pm</td></tr>
                  <tr><td>    <input type="radio" name="T_t" value="2:00 PM" >02.00 pm to 04.00 pm </td></tr>

									<tr>

											<td><center><input type="submit" name="btnSubmit" value="Step 3" /></center></td>
									</tr>


</table>
</form>
</center>




</body>
</html>
